<section class="intro">
  <div class="container">
 


    <div style="float: right;"><img
        src="https://raw.githubusercontent.com/kangx373/kangx373.github.io/master/assets/images/L1007341.jpg"
        width="620" height="400"
        align="middle"
        style="
       
          display: block;
          margin-left: auto;
          margin-right: auto;
          z-index: 1;"
        >  </div>

<br>
    <p class="lead">Hi, I'm Youngsoon. I am a PhD candidate in <a href="https://www.cehd.umn.edu/edpsych/current/qme/">Educational Psychology</a> at the University of Minnesota.</p>
  </div>
</section>
